/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Outfit:wght@400;700&display=swap');

:root {
  --heading-font: 24px;
  --heading-weight: bold;
  --sub-heading-font: 18px;
  /* --sub-heading-weight: 200; */
  --normal-font: 14px;
  --button-font: 16px
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Manrope', sans-serif;
}

body {
  /* max-width: 1120; */
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

button {
  /* font-size: var(--button-font); */
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: #ff385c;
  border: 1px solid #ff385c;
  ;
  box-shadow: 2px 2px 3px 0px lightgray;
  padding: 5px;
  border-radius: 5px;
  /* box-shadow: 2px 4px 5px 0px darkgrey; */
}

button:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid darkgray;
}

input {
  font-family: 'Manrope', sans-serif;
  padding: 3px
}

input:focus {
  outline: none;
  border-radius: 2px;
}

ul {
  list-style: none;
}

.hidden {
  display: none
}

h1 {
  font-size: var(--heading-font);
  font-weight: var(--heading-weight);
}

h3 {
  font-size: var(--sub-heading-font);
  font-weight: 500;
  /* font-weight: 200; */
}

p {
  font-size: var(--normal-font);
}

.modal-card {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  /* padding: 10px */
}

.modal-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-content: space-between;
}